<h1>Wikis Index</h1>

<p><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %></p>

<% @wikis.each do |wiki| %>

  <% if wiki.private? %>
  <b><%= link_to wiki.title, wiki %></b> - Private<br>
  <% else %>
  <%= link_to wiki.title, wiki %><br>
  <% end %>

<% end %>
