<h1>Wiki Show</h1>

  <% if @wiki.private? && @user.standard? %>
    This Wiki is Private
  <% end %>

<h3><%= @wiki.title %></h3>


<% unless @wiki.private? && @user.standard? %>
  <%= @body.html_safe %>

  <p>
  <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
  <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>
